/* partie marylene */
body{
    margin: 0;
}

/****  containers ****/
.container-xl {
    max-width: 1170px;
    padding: 0;
    width: 1170px;
}

.container-fluid-1{
    height: 100vh;
    background-color: #636363!important;
}
.container-fluid-2{
    height: 420px;
    background-color: #ffffff!important;
}
.container-fluid-3{
    height: 250px;
    background-image: url(images/bg1.jpg);
}
.container-fluid-4{
    height: 1450px;
    background-color: #f6f6f6;
    
}

/**** background ****/
.container-fluid-4 .bg-primary{
    background-color: #fff!important;
}


/**** color de text ****/
 .text-primary {
    color: #ffffff!important;
}
.text-secondary{
    color: #5f5f5f!important;
}

 /**** police ****/ 
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.regular{
    font-weight: normal;
}

.medium{
    font-weight: 500;
}


.family-1{
    font-family: playfair display;
}

.family-2{
    font-family: work sans;
}

.size-1{
    font-size: 0.9rem;
}

.size-2{
    font-size: 3rem;
}

.size-3 /*38px*/{
    font-size: 2.375rem;
}

.size-4{
    font-size: 0.9375rem;
}
.size-5 /*24px*/{
   font-size: 1.5rem;
}

.size-6{
    font-size: 1.25rem;
}

.size-7 /*15px*/{
    font-size: 0.75rem;
}

/*** header ***/

header{
    width: 100%;
    padding-top: 1rem;
}

.bg-light {
    background-color: #636363!important;
}
/* text snow de la nav */
a {
    color: #ffffff!important;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: normal;
}
/*** burger ***/
.navbar-light .navbar-toggler {   
    border: none;
    outline: none;
   
}
.navbar-light .navbar-toggler-icon{
    background-image: url(images/header.png);
    width: 20px;
    height: 20px;
}

/**** text du header ****/
.text-header{
    margin-top: 12rem;
}

.navbar-nav{
    position: absolute;
    right: 0;
}



/**** container-2 ****/

.text-container-2{
    margin-left: 13.125rem;
    margin-right: 13.125rem;
}
.signature{
    margin-bottom: 5rem;
}

/**** partie-3 ****/

.container-3{
    margin-right: 6rem;
}




/**** partie-4 ****/
.card-columns{
    padding-top: 2rem
}

.partie-4{
    padding-top: 4rem;
}

.text-project{
    margin-left: 230px;
    margin-right: 230px;
    line-height: 1rem;
}


.card {
    border: none;
    background-color: #f6f6f6;
}

.card-1{
    width: 370px; 
    height: 250px;
}

.card-title{
    padding-top: 6rem;
}


.size-image-1{
    flex-shrink: 0;
   width: 370px; 
   height: 250px;
  
}

.size-image-2{
    flex-shrink: 0;
   width: 370px; 
   height: 530px;
}



.bg-white{    
    background-color: #f9f9f9;
    width: 370px; 
   height: 250px;
}


/* ********************************** */

.container-p-al {
    width: 60%;
    margin: 0 auto;
    max-width: 640px;
}
.img-moche {
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.taillelogo {
    width: 16px;
    height: 16px;
}
.img-herisson {
    width: 5.5rem;
    height: 4rem;
}
.w-90 {
    width: 90%;
}
.w-60 {
    width: 60%;
    margin: 0 auto;
}
figcaption {
    position: relative;
}
figcaption button {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
figcaption img {
    width: 20rem;
    height: 21rem;
}
figcaption .btn-primary {
    background-color: black;
    border-color: black;
    border-radius: 0;
}
form .btn {
    background-color: #252525;
    border: none;
    border-radius: 0;
}
.card {
border-radius: 0rem;
}
#card-part-blog1 {
    width: 22rem;
}
#card-part-blog2 {
    width: 22rem;
}
#card-part-blog3 {
    width: 22rem;
}
#card-part-blog4 {
    width: 22rem;
}
#card-part-blog5 {
    width: 22rem;
}
#card-part-blog6 {
    width: 22rem;
}
#card-part-blog7 {
    width: 22rem;
}
#card-part-blog8 {
    width: 22rem;
}
#card-part-blog9 {
    width: 22rem;
}
.card-body {
    padding-top: 0;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 180px;
    color: #fff;
    text-align: center;
}
#carousel-indicators1 li {
    border: 4px solid#fff;
    border-radius: 50%;
    box-sizing: border-box;
    margin-bottom: 4rem;
    width: auto;
}
#carousel-indicators1 .active {
    border: 6px solid #fff;
    opacity: .9;
}
#carousel-indicators2 li {
    border: 4px solid#6b6b6b;
    border-radius: 50%;
    box-sizing: border-box;
    margin-bottom: 4rem;
    width: auto;
}
#carousel-indicators2 .active {
    border: 6px solid;
    opacity: .9;
}
.carousel-caption2 {
    padding-bottom: 12rem;
}
.color-primary {
    color: white;
}
.bg-al-primary {
    background-color: rgb(0, 0, 0);
}
.bg-al-secondary {
    background-color: rgb(246,246,246);
}
#col-12-al {
    padding: 0;
}
.traitblanc {
    border-bottom: 1px solid rgb(54, 54, 54) ;
}
.traitgris {
    border-bottom: 1px solid rgb(216,216,216);
}
.traitnoir {
    border-top: 2px solid #000000;
}
.mt-6 {
    margin-top: 4rem;
}
.mb-6 {
    margin-bottom: 4rem;
}
.mt-1-1 {
    margin-top: 9rem;
}
.pt-pb-1 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.pt-pb-2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.pt-pb-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}





