
.container-xl {
    max-width: 1170px;
    padding: 0;
}
figcaption {
    position: relative;
}
figcaption button {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
figcaption img {
    width: 20rem;
    height: 17rem;
}
figcaption .btn-primary {
    background-color: black;
    border-color: black;
    border-radius: 0;
}
.card {
border-radius: 0rem;
}
#card-part-blog1 {
    width: 22rem;
}
#card-part-blog2 {
    width: 22rem;
}
#card-part-blog3 {
    width: 22rem;
}
.card-body {
    padding-top: 0;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 180px;
    color: #fff;
    text-align: center;
}
.carousel-indicators li {
    border: 18px solid#6b6b6b;
    border-radius: 50%;
    box-sizing: border-box;
    margin-bottom: 4rem;
}
#carousel2 {
    position: absolute;
    padding-top: 4rem;

}
.carousel-caption2 {
    padding-bottom: 10rem;
}


/* partie marylene */
body{
    margin: 0;
}

/****  containers ****/

.container-xl {
    max-width: 1170px;
}

.container-fluid-1{
    height: 100vh;
    background-color: #636363!important;
}
.container-fluid-2{
    height: 100vh;
    background-color: #ffffff!important;
}


/**** color de text ****/
 .text-primary {
    color: #ffffff!important;
}

 /**** police ****/ 
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.regular{
    font-weight: normal;
}

.family-1{
    font-family: playfair diplay;
}

.family-2{
    font-family: work sans;
}

.size-1{
    font-size: 0.9rem;
}

.size-2{
    font-size: 3rem;
}

.size-3{
    font-size: 2.375rem;
}

.size-4{
    font-size: 0.9375remgit;
}
/*** header ***/

.bg-light {
    background-color: #636363!important;
}
/* text snow de la nav */
a {
    color: #ffffff!important;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: normal;
}
/*** burger ***/
.navbar-light .navbar-toggler {   
    border: none;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(header.png);
    width: 20px;
    height: 20px;
}
/**** text du header ****/
.text-header{
    margin-top: 33vh;
}



